<h1>Single tenant information</h1>
<h2>Name</h2>
<p> <%= @tenant.name %> </p>

<h2>Apartment address</h2>
<a href="/apartments/<%=@tenant.apartment.id%>">
<p> <%= @tenant.apartment.address %> </p>
</a>

<form action="/tenants/<%= @tenant.id %>/edit" method="get">
<input type="submit" value="Edit Tenant"/>
</form>

<form action="/tenants" method="get">
<input type="submit" value="Back"/>
</form>

<br/>

<form action="/tenants/<%= @tenant.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Tenant"/>
</form>