<h1>Single apartment information</h1>

<h2>Address</h2>
<p> <%= @apartment.address %> </p>

<h2>Tenants</h2>

<ul>
  <% @apartment.tenants.each do |tenant |%>
  <a href="/tenants/<%=tenant.id%>">
    <li><%= tenant.name %></li>
  </a>
  <% end %>
</ul>

<form action="/apartments/<%= @apartment.id %>/edit" method="get">
<input type="submit" value="Edit Apartment"/>
</form>

<form action="/apartments" method="get">
<input type="submit" value="Back"/>
</form>

<br/>

<form action="/apartments/<%= @apartment.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete Apartment"/>
</form>




